.App {
  text-align: center;
}

input[type=text]
{
  height: 40px;
  width:200px;
  border: 2px solid grey;
  border-radius: 5px;
  margin:10px;
  font-size: 20px;
}

button
{
  height: 50px;
  width: 50px;
  background-color:lightseagreen;
  color: white;
  padding: 5px;
  border: 2px solid white;
  border-radius: 50%;
  font-size: 20px;
}

li
{
  font-size: 20px;
  color: indigo;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family:monospace;
}